<form action="http://10.10.113.109/callback" method="GET">
 <input type="hidden" name="state" value=<%= state %> /> 
 <p> Do you wish to grant access to the application? </p>
        
        <% if (state.length > 0) { %>
                <div class="alert alert-danger"><%= state %></div>
        <% } %> 
<div>
  <input type="submit" value="Allow" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>

</form>
